@charset "UTF-8";
/* Nesting */
.header {
  position: fixed;
  margin: -25px;
  width: 100%;
  height: 108px;
  padding: 39px;
  z-index: 2;
  /* Transformación links del header */
  /* Fin del header  */
}
.header .navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
.header .bg-light {
  --bs-bg-opacity: 0;
}
.header .navbar-nav {
  display: flex;
  margin-left: 30em;
}
.header .list {
  padding: 0px 10px;
  text-decoration: none;
  align-items: center;
}
.header .link {
  font-weight: 450;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  text-decoration: none;
  position: relative;
}
.header .link:hover {
  font-weight: 450;
}
.header .link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.header .link:hover::before {
  transform: scaleX(1);
}
.header .contact {
  display: block;
  width: 121px;
  height: 29px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 50px;
  transition: transform 0.8s;
  margin: 13px;
  padding: 4.5px;
}
.header .contact:hover {
  transform: scale(1.1);
  color: #E1CCCB;
  padding: 4.5px;
}

.logo {
  position: fixed;
  z-index: 3;
  margin: -10px;
  margin-top: 71px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

/*Seccion 1*/
.row {
  margin: 80px;
  margin-top: -30px;
}

h1 {
  margin: 83px;
  display: inline;
  position: relative;
  z-index: -1;
}

.secondary-type {
  font-family: "bathey";
  font-size: 36px;
  position: relative;
  top: 41px;
  z-index: 1;
}

.parrafo {
  margin: 30px;
  padding: 32px;
  width: 480px;
  height: -70px;
  text-align: center;
  line-height: 25px;
  margin-top: 28px;
}

.principal-img {
  position: relative;
  z-index: -1;
  margin: 61px;
  margin-top: 43px;
}

.parrafo-sec-dos {
  width: 96%;
  line-height: 25px;
  margin: 20px;
  padding: 59px;
  margin-top: -55px;
}

.col-6 {
  margin-top: -62px;
  display: flex;
  justify-content: right;
  width: 100%;
}

.parrafo-sec-tres {
  width: 480px;
  text-align: left;
  line-height: 25px;
  margin-top: 28px;
  display: flex;
  justify-content: right;
  margin: 20px;
  padding: 48px;
  margin-right: -22px;
}

.img-dos {
  margin-top: -69.2%;
  margin-left: -27px;
}

/* Sección 2 */
h2 {
  font-family: "bathey";
  position: relative;
  top: -4px;
  left: 76px;
  margin-top: 28px;
  z-index: 1;
}

.top-left {
  top: -42px;
  left: 76px;
}

.subtitulo-dos {
  margin: 75px;
  padding: 10px;
  margin-top: 12px;
}

.parrafo-dos {
  margin: 15px;
  padding: 35px;
  width: 368px;
  height: -70px;
  margin-top: -62px;
  text-align: center;
}

.bloque {
  display: block;
  position: relative;
  z-index: -1;
  margin: -61px;
  padding: -25;
  margin-top: -47px;
  left: 70%;
}

/* Sección 3 */
.img-ebook {
  margin: -21px;
}

.section {
  height: 206px;
  margin: 28px;
  padding: 26px;
}

.parrafo-tres {
  margin: 30px;
  padding: 55px;
  width: 432px;
  margin-top: -67px;
}

/* Sección 4 */
.container-fluid {
  margin-top: 70px;
}

.titulo-cuatro {
  margin-top: 20px;
  margin: -63px;
}

.parrafo-cuatro {
  margin: -69px;
  margin-top: -58px;
  padding: 90px;
}

.col-4 {
  width: 200px;
}

/* Sección 5 */
.h2-align {
  left: 5px;
  margin-top: 124px;
}

.form {
  height: 40em;
  margin: 46px;
  width: 90%;
  text-align: center;
  margin-top: 80px;
}

.parrafo-cinco {
  padding: 73px;
  margin-top: -45px;
}

.section-dos, .section-tres, .section-cuatro,
.section-cinco {
  padding: 30px 30px;
}

/* Footer */
.text-footer {
  text-align: left;
}

footer {
  padding: 30px 30px;
  margin-top: 45px;
  margin-bottom: 50px;
}

.instagram {
  display: flex;
  justify-content: right;
  margin: -8px;
  margin-top: -52px;
}

/* Variables */
* {
  margin: 4px;
  padding: 3px;
  box-sizing: border-box;
}

@font-face {
  font-family: "montserrat";
  src: url("tipography/Montserrat-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "bathey";
  src: url("secondary-type/bathey") format("otf");
  font-display: swap;
}
/* Tamaño de fuentes*/
body {
  font-size: 15px;
  font-family: "montserrat";
  overflow-x: hidden;
}

h1 h2 {
  font-size: 1.5em;
  font-family: "bathey";
}

/*Colores*/
.header {
  background-color: white;
}

a {
  color: #856969;
}

ul li {
  color: #B78F8F;
}

.list {
  color: #B78F8F;
}

.link:hover {
  color: #856969;
}

.link::before {
  background-color: #d3acac;
}

.contact {
  background-color: #775B5B;
  color: #E1CCCB;
}

.contact:hover {
  color: #E1CCCB;
}

.h1 .secondary-type {
  font-family: "bathey";
  font-size: 1.5em;
  color: #856969;
}

.parrafo {
  background-color: #fdf3f2;
}

.parrafo-sec-dos {
  background-color: #f7eceb;
}

.parrafo-sec-tres {
  background-color: #f7eceb;
}

.parrafo-dos {
  background-color: #fdf3f2;
}

h2 {
  font-size: 25px;
}

.section {
  background-color: #f7eceb;
}

.form {
  background-color: #f7eceb;
}

/*Media queries*/
/*Pantalla mobile*/
@media (max-width: 400px) {
  nav, .container-fluid, div {
    width: 100%;
    margin: -4px;
    overflow-x: hidden;
  }
  nav .principal-img, .container-fluid .principal-img, div .principal-img {
    position: rela;
    bottom: 5px;
    right: 10px;
  }
}
/*Mixins*/

/*# sourceMappingURL=style.css.map */
