/* Sección 5 */
 
.h2-align {
  left: 5px;
  margin-top: 124px;
}
 
.form {
    height: 40em;
    margin: 46px;
    width: 90%;
    text-align: center;
    margin-top: 80px;
}
 
.parrafo-cinco {
  padding: 73px;
  margin-top: -45px;
 
}
 
 
 
  .section-dos, .section-tres, .section-cuatro,
  .section-cinco {
 
    padding: 30px 30px;
}
