/* Sección 5 */
 
.h2-contacto {
  font-family: "bathey";
  font-size: 27px;
  position: relative;
  top: 110px;
  z-index: 1;
  margin-left: 26px;
  left: -51px;
  
}
 
.form {
  height: 31em;
  margin: 46px;
  width: 90%;
  text-align: center;
  margin-top: -55px;
  padding: 15px;
}
 
.parrafo-cinco {
    text-align: left;
    font-weight: 500;
    padding: -13px;
    margin-top: 132px;
    margin-right: 20px;
 
}
 
 
 
  .section-dos, .section-tres, .section-cuatro,
  .section-cinco {
 
    padding: 30px 30px;
}
