/* Sección 5 */
 
.h2-align {
  left: -51px;
  margin-top: 97px;
}
 
.form {
  height: 31em;
  margin: 46px;
  width: 90%;
  text-align: center;
  margin-top: -55px;
  padding: 15px;
}
 
.parrafo-cinco {
  text-align: left;
  font-weight: 500;
  padding: -13px;
  margin-top: 24px;
  margin-right: 20px;
 
}
 
 
 
  .section-dos, .section-tres, .section-cuatro,
  .section-cinco {
 
    padding: 30px 30px;
}
