/* Sección 3 */

.h2-e {
  font-family: "bathey";
    position: relative;
    top: -4px;
    left: 76px;
    margin-top: 28px;
    z-index: 1;
}
 
.img-ebook {
    margin: -21px;
  }
   
  .section {
    height: 206px;
    margin: 28px;
    padding: 26px;
  }
 
 
  .parrafo-tres {
    font-weight: 500;
    margin: 30px;
    padding: 55px;
    width: 432px;
    margin-top: -43em;
  }


  .img-ebook-portada {
    width: 125px;
    margin: 506px;
    display: flex;
    margin-top: -82.5px;
    justify-content: flex-end;
    transition: transform 0.8s;
  }

  .img-ebook-portada:hover {
    transform: scale(1.2);
  }

  


  .button:hover {
      transform: scale(1.1);
      color: #E1CCCB;
      text-align: center;
    
  }
