/* Sección 3 */
 
.img-ebook {
    margin: -21px;
  }
   
  .section {
    height: 206px;
    margin: 28px;
    padding: 26px;
  }
 
 
  .parrafo-tres {
    margin: 30px;
    padding: 55px;
    width: 432px;
    margin-top: -67px;
  }
