/* Sección 4 */
 
.container-fluid {
    margin-top: 70px;
  }
   
  .titulo-cuatro {
    margin-top: 20px ;
    margin: -63px;
  }
   
  .parrafo-cuatro {
    margin: -69px;
    margin-top: -58px;
    padding: 90px;
  }
   
  .col-4 {
    width: 200px;
  }
  