/* Sección 4 */

.h2-estetica {
  font-family: "bathey";
  font-size: 27px;
  position: relative;
  top: 0px;
  z-index: 1;
  margin-left: 26px;

}
 
.container-fluid {
    margin-top: 70px;
  }
   
  .titulo-cuatro {
    margin: 6px;
    margin-left: -42px;
  }
   
  .parrafo-cuatro {
    margin: -62px;
    margin-top: -63px;
    padding: 104px;
  }

  .parrafo-cuatro-bis {
    margin: -62px;
    margin-top: -142px;
    padding: 104px;
  }
   
  .col-4 {
    width: 200px;
  }
  

  .img-cosmetica {
    width: 329px;
    margin-top: -15px;
  }