/* Sección 4 */
 
.container-fluid {
    margin-top: 70px;
  }
   
  .titulo-cuatro {
    margin: 6px;
    margin-left: -42px;
  }
   
  .parrafo-cuatro {
    margin: -62px;
    margin-top: -63px;
    padding: 104px;
  }

  .parrafo-cuatro-bis {
    margin: -62px;
    margin-top: -142px;
    padding: 104px;
  }
   
  .col-4 {
    width: 200px;
  }
  

  .img-cosmetica {
    width: 329px;
    margin-top: -15px;
  }