/* Footer */
.text-footer {
    text-align: left;
  }
   
    footer {
      padding: 30px 30px;
      margin-top: 45px;
      margin-bottom: 50px;
    }
   
    .instagram {
      display: flex;
      justify-content: right;
      margin: -8px;
      margin-top: -52px;
    }
  