 
  /*Seccion 1*/
 
  .row {
    margin: 80px;
    margin-top: -30px;
  }


  
  .recursos-dos {
    width: 135px;
    margin-left: 687px;
    margin-bottom: -106px;
  }
 
 
 
  .secondary-type {
    font-family: 'bathey';
    font-size: 36px;
    position: relative;
    top: 41px;
    z-index: 1;
   
  }
 
 
  .parrafo {
    margin: 30px;
    padding: 32px;
    width: 480px;
    height: -70px;
    text-align: center;
    line-height: 25px;
    margin-top: 28px;
 
   
    }
 
 
  .principal-img {
    position: relative;
    z-index: -1;
    margin: 61px;
    margin-top: 43px;
   
  }
 
  .parrafo-sec-dos {
    width: 96%;
    line-height: 25px;
    margin: 20px;
    padding: 59px;
    margin-top: -55px;
  }
 
  .col-6 {
    margin-top: -62px;
    display: flex;
    justify-content: right;
    width: 100%;
  }
 
  .parrafo-sec-tres {
    width: 480px;
    text-align: left;
    line-height: 25px;
    margin-top: 28px;
    margin: 20px;
    padding: 48px;
    margin-right: 7px;
  }
 
  .img-dos {
    margin-top: -69.2%;
    margin-left: 9px;
    width: 804px;

  }
