/*Media queries*/ 

/*Pantalla mobile*/ 

@media (max-width: 400px) {
     .container-fluid, .parrafo {
        overflow-x: hidden;
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        width: 331px;
        height: auto;
        padding: 24px;
        margin: 29px;
        margin-top: 15px;


        .principal-img {
            bottom: 62px;
            right: -89px;
            max-width: 353px;

        }
    }

}


@media (max-width: 400px) {
    .navbar-toggler-icon {
    margin: 327px;
    margin-right: -598px;
    margin-top: 6em;
}
        
}

@media (max-width: 400px) {
#navbarNav {
      box-shadow: none;
   }
}



@media (max-width: 400px) {
    .navbar-toggler {
        position: absolute;
        display: inline-block;
        transition: transform 0.8s;
      
    }

    .navbar-toggler:focus {
        text-decoration: none;
        box-shadow: none;
        outline: none;
       
    }
}



@media (max-width: 400px) {
    .header {
        margin-right: 122px;
        width: 424px;
        height: 400px;
        margin-bottom: 414px;
        overflow-y: hidden;
        position: fixed;
        justify-content: center;
        margin-left: -506px;
        width: 976px;
        background: linear-gradient(180deg, #FFFFFF 35.3%,
         rgba(255, 255, 255, 0.078125) 29.92%,
         rgba(255, 255, 255, 0) 100%);
        

        }

        
    }


    @media (max-width: 400px) {
        .logo{
            margin-top: 65px;
            margin-left: -189px;
   
        }
    }


    @media (max-width: 400px) {
    .header .navbar-nav {
        width: 352px;
        height: 297px;
        display: flex;
        margin-right: -39px;
        margin-top: 83px;
        justify-content: center;
        
 
    }


    .navbar-nav {
        position: relative;
        background: white;

        
    }

    .list {
        display: block;

    }
    
}


/*Intro*/ 

@media (max-width: 400px) {
    h1 {
        display: contents;
      }

    .intro {
        display: contents;
    }

    }

/*Sección 1*/ 

@media (max-width: 400px) {
    .secondary-type {
        display: flex;
        justify-content: center;
        margin-right: 31px;
        margin-bottom: 29px;
    }

    .parrafo {
        margin-left: 10em;
    }

    .parrafo-sec-dos {
        width: 22em;
        margin-top: -14px;
    }

    .parrafo-sec-tres {
        width: 24em;
        margin-top: 62px;
        margin-right: 222px;
    }

    .w-50 {
        max-width: 335px;
        margin-left: 220px;
        margin-top: 549px;
    }
}


/*Sección 2*/ 

@media (max-width: 400px) {
    .h2-equipo {
        margin-top: 84px;
        margin-left: 348px;
    }

    .parrafo-dos {
        margin-top: -63px;
        margin-left: 376px;
    }

    .h-auto {
        max-width: fit-content;
    }
}